
body {
  margin: 0;
  background-color: black;
  color: #ff2c00;
  font-family: 'Courier New', Courier, monospace;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.clock-container {
  text-align: center;
}
@font-face {
  font-family: 'DS-Digital';
  src: url('fonts/DS-DIGI.TTF') format('truetype');
}

.time {
  font-family: 'DS-Digital', monospace;
}


.info {
  margin-top: 1em;
  font-size: 4vw;
  color: #aa0000;
}
